@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Lexend+Deca&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
@media(max-width:375px){


body{
	margin:10% 5%;
	font-family: 'Lexend Deca', sans-serif;

}

.flex{
	display:block;
}

.container{
	padding:15% 20%;
	text-align: left;
	height:auto;
}

.sedans{
	background-color:hsl(31, 77%, 52%);
	color:white;
	border-radius:20px 20px 0 0;
}

.suv{
	background-color:hsl(184, 100%, 22%);
	color:white;
}

.luxury{
	background-color:hsl(179, 100%, 13%);
	color:white;
	border-radius:0 0 20px 20px;
}

img{
	width:150px;
	margin:10% 0;
}

.header{
	margin:5% 0;
	font-size:35px;
}

.para{
	margin:10% 0;
	line-height: 2.5rem;
}

button{
	padding:15px 15px;
	margin:15% 0;
	font-size:18px;
	font-weight:bold;
	border-radius:50px;
	border:none;
	outline:none;
}

button:hover{
	border:2px solid white;
	background-color:transparent;
	color:white;
}

.sedans button{
	color:hsl(31, 77%, 52%);
}

.luxury button{
	color:hsl(179, 100%, 13%);
}

.suv button{
	color:hsl(184, 100%, 22%);
}

.sedans button:hover{
	color:white;
}

.luxury button:hover{
	color:white;
}

.suv button:hover{
	color:white;
}

}

@media(min-width:1350px){
	body{
		display: flex;
		justify-content: center;
		align-items: center;
		margin:25px 20px;
		font-family: 'Lexend Deca', sans-serif;
	}

	.flex{
		display: flex;
	}

	.container{
	padding:15px 20px;
	text-align: left;
	height:auto;
}

.sedans{
	background-color:hsl(31, 77%, 52%);
	color:white;
	border-radius:20px  0 0 20px;
}

.suv{
	background-color:hsl(184, 100%, 22%);
	color:white;
}

.luxury{
	background-color:hsl(179, 100%, 13%);
	color:white;
	border-radius: 0 20px 20px 0  ;
}

img{
	width:150px;
	margin:10px 0;
}

.header{
	margin:5px 0;
	font-size:35px;
}

.para{
	margin:10px 0;
	line-height: 2.5rem;
}

button{
	padding:10px 10px;
	margin:15% 0;
	font-size:20px;
	font-weight:bold;
	border-radius:50px;
	border:none;
	outline:none;
}

/*button:hover{
	border:1px solid white;
}*/

.sedans button{
	color:hsl(31, 77%, 52%);
}

.luxury button{
	color:hsl(179, 100%, 13%);
}

.suv button{
	color:hsl(184, 100%, 22%);
}
}